<div class="footer-small">
    <div class="footer-small-content container">
    Copyright 2021 - PM Global Technology Services    
    </div>
    </div>
</div>
    
    <script src="./ext/code.jquery.com/jquery.min.js"></script>

   <script src="./ext/code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="./ext/cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="./ext/cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>



<% if (pageName ==="progress") {%><script src="./js/auth.js"></script><% } %>
<% if (pageName ==="cdn-migrator") {%><script src="./js/custom.js"></script><% } %>

<script src="./js/steppers.js"></script>
<!-- <script src="./js/radial-progress-bar.js"></script> -->
<script src="./js/tabs.js"></script>

<!-- <script src="./errors.json"></script> -->
</body>
</html>
